{% extends "base.html" %}

{% block content %}
<div class="row mt-4 text-center">
    <h2 class="text-warning fw-bold">My Dashboard</h2>
    <div class="col-md-6 mt-3">
        <div class="card bg-secondary text-white">
            <div class="card-body">
                <h5>Games Played</h5>
                <h2 class="display-4 fw-bold">0</h2>
            </div>
        </div>
    </div>
    <div class="col-md-6 mt-3">
        <div class="card bg-secondary text-white">
            <div class="card-body">
                <h5>Tactics Ready</h5>
                <h2 class="display-4 fw-bold">0</h2>
            </div>
        </div>
    </div>
</div>
{% endblock %}